{% extends 'base.html' %}
{% block navbarb %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="/">#МиНеБудемоРабами</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="navbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="nav">
            <a class="btn btn-outline-light" href="/">На головну</a>
        </div>
    </nav>
{% endblock navbarb %}
{% block content %}

    <div class='container bg-white mt-5'>
        <h1 class='text-center'>Дякуємо за небайдужість! Петиція прийнята до розгляду.</h1>
    </div>

{% endblock content %}
{% block footer %}
{% endblock footer %}
